@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: San Francisco Pro Display Thin;
  src: url(SFProDisplay-Thin.eot);
  src: url(SFProDisplay-Thin.eot?#iefix) format(embedded-opentype), url(SFProDisplay-Thin.woff) format(woff), url(SFProDisplay-Thin.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Conv_SFProDisplay-Medium;
  src: url(fonts/SFProDisplay-Medium.eot);
  src: local(☺), url(fonts/SFProDisplay-Medium.woff) format(woff), url(fonts/SFProDisplay-Medium.ttf) format(truetype), url(fonts/SFProDisplay-Medium.svg) format(svg);
  font-weight: normal;
  font-style: normal;
}

/*--------------------*/
body {
  font-family: San Francisco Pro Display Thin;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(png/vk.svg) right no-repeat;
  display: block;
  font-family: San Francisco Pro Display Thin;
}

.menu a {
  display: block;
  color: #000;
  text-decoration: none;
}

.menu a:hover {
  color: #A9A9A9;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.menu a:focus {
  color: #C2C1C1;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  text-decoration: none;
  display: block;
}

.menu ul :nth-child(1) {
  position: absolute;
  top: 11;
  bottom: 11;
  left: 143px;
}

.menu ul :nth-child(2) {
  position: absolute;
  font-family: San Francisco Pro Display Thin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  left: 338px;
  top: 32px;
  bottom: 27px;
}

.menu ul :nth-child(3) {
  position: absolute;
  font-family: San Francisco Pro Display Thin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  left: 459px;
  top: 32px;
  white-space: nowrap;
}

.menu ul :nth-child(4) {
  position: absolute;
  left: 563px;
  top: 32px;
  font-family: Conv_SFProDisplay-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  background-image: url(png/vk.svg) right no-repeat;
  list-style-image: url(png/Vector.svg);
}

.menu ul :nth-child(5) {
  position: absolute;
  left: 688px;
  top: 32px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  font-family: SF Pro Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.submenu {
  position: absolute;
  left: 50%;
  top: 100%;
  width: 210px;
  margin-left: -105px;
  background: #fafafa;
  border: 1px solid #ededed;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  text-align: center;
  list-style-position: inside;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  text-align: center;
}

.menu li:after {
  position: absolute;
  right: 0;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  text-align: center;
}

.submenu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  text-align: center;
  left: auto;
}

.submenu li a {
  text-align: center;
  padding: 10px 0;
  margin: 0 10px;
  position: absolute;
}

.menu ul :nth-child(6) {
  position: absolute;
  left: 892px;
  top: 29px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #0D1C41;
  white-space: nowrap;
}

.menu ul :nth-child(7) {
  position: absolute;
  left: 1125px;
  top: 32px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  width: 135px;
  color: #0D1C41;
  white-space: nowrap;
}

.menu ul :nth-child(8) {
  position: absolute;
  left: 1272px;
  top: 22px;
}

.defend {
  position: absolute;
  color: #0D1C41;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  left: 236px;
  top: 234px;
  width: 485px;
  height: 86px;
}

.small {
  position: absolute;
  font-family: SF Pro Display;
  color: #939CA6;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  left: 236px;
  top: 344px;
  width: 365px;
  height: 51px;
}

.Artmen {
  position: absolute;
  left: 738px;
  top: 90px;
  width: 508.83px;
  height: 366.62px;
  padding: 20px;
}

.buttonbuy {
  position: absolute;
  left: 237px;
  top: 487px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 27px;
  width: 265px;
  height: 59px;
  outline: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* norm */
  -webkit-box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
          box-shadow: 0px 2px 18px rgba(41, 41, 41, 0.1);
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}

.buttonbuy a {
  display: block;
  color: #000;
  text-decoration: none;
}

.box {
  position: absolute;
  width: 1465px;
  height: 600px;
  -webkit-box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
          box-shadow: 2px 2px 5px rgba(20, 29, 61, 0.15), -2px -2px 5px rgba(20, 29, 61, 0.15);
  border-radius: 30px;
  left: 138px;
  top: 108px;
}

.strahovka {
  position: absolute;
  width: 327px;
  height: 57px;
  left: 700px;
  top: 758px;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.group45 {
  position: absolute;
  left: 238px;
  top: 874px;
}
